<footer>
{% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
	<span>© {{ currentyear }}</span> 
	<span>
		<a href="{{ site.url }}/">KS & Jarkom</a> |
		<a href="https://github.com/infoummu/infoummu.github.io" target="_blank">github</a> 
		<!-- <a href="https://infoummu.github.io/qweb/" target="_blank">AyatPilihan</a> -->
	</span> 
</footer>


<!-- original script :
| <a href="https://ForensikDigital.blogspot.co.id/" target="_blank">Blog</a>
<footer><span>@2017 -  <a href="{{ site.baseurl }}/">ForensikDigital</a> | <a href="https://github.com/infoummu/infoummu.github.io" target="_blank">github</a> </span> | <a href="https://ForensikDigital.blogspot.co.id/" target="_blank">Blog</a>
</footer>
-->
