<header id="header" class="parent justify-spaceBetween">
  <div class="inner w100 relative">
<!--
    <span class="f-left">  
      <a href="{{ site.baseurl }}/">
        <h1>
          Ikhwan<span>Elyas</span> 
        </h1>
      </a>
    </span>
-->
    <span class="f-left">  
      <a href="{{ site.baseurl }}">
        <!-- <a href="KuliahFD.html"> -->
        <h1>
          KS & <span>Jarkom</span> 
        </h1>
      </a>
    </span>
    <span id="nav-links" class="absolute right bottom">
      <!-- Nav links -->

	    <!-- { include link.html }  -->

      <!-- Nav pages -->


      	 <!-- MANUAL TAMBAH LINK  -->
        <!-- <a href="categories.html" title="All POst" >All Post</a> |  
        <a href="linkcolection.html" title="Collection ">Link Collection</a> |
        <a href="thelist" title="TheList" >TheList</a> |    
        <a href="me.html" title="About" >About</a>  -->

      	 <!-- MANUAL TAMBAH LINK  -->
         <!-- 
          <a href="KuliahFD.html">Home</a> |    
         <a href="categories.html" title="Categories" >Materi</a> |  
         <a href="archive.html" title="All Post" >Archive</a> |  
         <a href="linkcolection.html" title="Collection ">Link Collection</a> |
         <a href="me.html" title="About" >About</a>  
        -->

        <!-- <a href="{{ site.url }}{{ site.baseurl }}KuliahFD.html">Home</a> |     -->
        <a href="{{ site.url }}{{ site.baseurl }}">Home</a> | 
        <a href="{{ site.url }}{{ site.baseurl }}categories.html" title="All POst" >Materi</a> |  
        <a href="{{ site.url }}{{ site.baseurl }}archive.html" title="All Post" >Archive</a> | 
        <a href="{{ site.url }}{{ site.baseurl }}linkcolection.html" title="Collection ">Link Collection</a> |
        <a href="{{ site.url }}{{ site.baseurl }}me.html" title="About" >About</a> 
      
    </span>
  </div>
</header>
<div onclick="topFunction()" id="myBtn" title="Go to top X" >
	<img id="imgMyBtn" src="img/top-icon-25-512.png" height="36px" width="36px">
</div>

<div id="myBtnEx" >

</div>

<!-- <div id="myBtnEx" >
	<a href="/KuliahFD.html" title="Home" id="btxx">Home</a><br />
	<a href="/linkcolection" title="Links" id="btxx">Links</a><br />
	<a href="/me" title="About" id="btxx">About</a><br />
</div> -->