<header id="header" class="parent justify-spaceBetween">
  <div class="inner w100 relative">

    <span class="f-left">  
      <a href="{{ site.baseurl }}">
        <h1>
          KS & <span>Jarkom</span> 
        </h1>
      </a>
    </span>
    <span id="nav-links" class="absolute right bottom">

        <a href="{{ site.url }}{{ site.baseurl }}">Home</a> | 
        <a href="{{ site.url }}{{ site.baseurl }}categories.html" title="All POst" >Materi</a> |  
        <a href="{{ site.url }}{{ site.baseurl }}archive.html" title="All Post" >Archive</a> | 
        <a href="{{ site.url }}{{ site.baseurl }}linkcolection.html" title="Collection ">Link Collection</a> |
        <a href="{{ site.url }}{{ site.baseurl }}me.html" title="About" >About</a> 
      
    </span>
  </div>
</header>
<div onclick="topFunction()" id="myBtn" title="Go to top X" >
	<img id="imgMyBtn" src="img/top-icon-25-512.png" height="36px" width="36px">
</div>

<div id="myBtnEx" >

</div>

