<html>
<body>

<b>Kode : </b><input type="text" id="nomor" value="" placeholder="exp: 4195161 / S2452315117300899" style="height: 24px; width: 260px;"> &nbsp; <button onclick="openInNewTab()">Open and Download</button>
<br><br>
<p>Input/Paste kode atau nomor yang di copy dari <a href="http://ieeexplore.ieee.org/Xplore/home.jsp" target="_blank">ieeexplore.ieee.org</a> atau dari <a href="http://www.sciencedirect.com/">sciencedirect.com</a>, dan click <i>"Open and Download"</i> untuk membuka dan mendownloadnya, tips ini didapat dari <a href="http://www.hackzhub.com/how-to-download-ieee-papers-from-ieeexplore-website-for-free/" target="_blank">hackhub.com</a>.</p>
<hr>
Exp : <br>
ieeexplore : http://ieeexplore.ieee.org/document/<b>4195161</b>/<br>
sciendirect: http://www.sciencedirect.com/science/article/pii/<b>S2452315117300899</b><br>
nb: copy deretan angka atau kode yang bercetak tebal pada bagian akhir dari link/url yang akan di download dan paste ke inputbox Kode.
<br>

</body>
</html>

